/* BASE */
.droplet {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
}

.container {
  align-items: center;
  display: flex;
  height: 200px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 200px;
  min-width: 200px;
  margin-bottom: 0;
}

.hero {
  animation-duration: 1s;
  animation-fill-mode: both;
  background: #333;
  border-radius: 3px;
  height: 60px;
  width: 60px;
}

:global {
  /* TIMINGS */
  .infinite {
    animation-iteration-count: infinite;
  }

  .ca-duration-instant {
    animation-duration: 0ms;
  }

  .ca-duration-immediate {
    animation-duration: 100ms;
  }

  .ca-duration-fast {
    animation-duration: 300ms;
  }

  .ca-duration-slow {
    animation-duration: 400ms;
  }

  .ca-duration-deliberate {
    animation-duration: 700ms;
  }

  /* ANIMATION PRESETS */

  .ca-transition-pulse {
    animation-name: pulse;
  }

  .ca-transition-rubberband {
    animation-name: rubberBand;
  }

  .ca-transition-jello {
    animation-name: jello;
    transform-origin: center;
  }

  .ca-transition-fadeInUp {
    animation-name: fadeInUp;
  }

  .ca-transition-bounceInUp {
    animation-name: bounceInUp;
  }
}

/* PULSE */
@keyframes :global(pulse) {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

/* RUBBER BAND */

@keyframes :global(rubberBand) {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

/* JELLO */
@keyframes :global(jello) {
  from,
  11.1%,
  to {
    transform: translate3d(0, 0, 0);
  }

  22.2% {
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}

/* FADE IN UP */
@keyframes :global(fadeInUp) {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* BOUNCE IN UP */
@keyframes :global(bounceInUp) {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  75% {
    transform: translate3d(0, 10px, 0);
  }

  90% {
    transform: translate3d(0, -5px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
