@import '~cultureamp-style-guide/styles/layers';
@import '~cultureamp-style-guide/styles/color';
@import '~cultureamp-style-guide/styles/type';

/*
      +-------------------------------------+
      |n|         header                    |
      |a|-----------------------------------| --
      |v|       |                           |  |
      |b|       |                           |  |
      |a|   s   |                           |  |
      |r|   i   |                           |  |
      | |   d   |                           |  |
      | |   e   |         content           |  |  body
      | |   b   |                           |  |
      | |   a   |                           |  |
      | |   r   |                           |  |
      | |       |                           |  |
      | |       |                           |  |
      | |-----------------------------------| --
      | |         footer                    |
      +-------------------------------------+

        |-----------------------------------|
                      page
*/

%root {
  display: flex;
  align-items: stretch;
}

%navigation-bar {
  flex: 0 0 auto;
}

%page {
  display: flex;
  flex: 1 0 0px;
  flex-direction: column;
  height: 100vh; // scrolling content will overflow
}

%header,
%footer {
  flex: 0 0 auto;
}

%legacy-sticky-footer-container {
  // a flex column to support legacy sticky .app-layout__legacy-sticky-footer in Murmur
  display: flex;
  flex-direction: column;

  flex: 1 1 0px;
  height: 0; // flex-basis 0px doesn't work in most browsers
  position: relative;
}

%body {
  display: flex;
  justify-content: center; // for centered only child

  position: absolute; // required for height to work when content is short
  height: 100%;
  width: 100%;

  @media print {
    display: block;
    position: static;
    height: auto;
  }
}

$sidebar-width: 288px;
%sidebar {
  background-color: $ca-palette-stone;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  width: $sidebar-width;
  z-index: $ca-z-index-fixed;
  padding: $ca-grid;

  @media print {
    background-color: transparent;
    overflow-y: visible;
    overflow-x: visible;
    position: static;
    width: auto;
  }
}

%content {
  // to support sticky footer
  display: flex;
  flex-direction: column;

  flex: 1 1 auto;

  &:only-child {
    width: 100%; // fixes centering in IE 11 at max-width
    min-width: 100%; // prevents too-wide content slipping under NavigationBarApp

    @media (min-width: 480px) {
      min-width: auto;
      max-width: 900px;
    }
  }
}
