@import './styles';

.root {
  @extend %root;
}

.navigationBar {
  @extend %navigation-bar;
  box-sizing: border-box;
}

.page {
  @extend %page;
  box-sizing: border-box;
  position: relative;
}

.header {
  @extend %header;
  box-sizing: border-box;
}

.body {
  @extend %body;
  box-sizing: border-box;
}

.bodyInner {
  @extend %body-inner;
}

.sidebar {
  @extend %sidebar;
  box-sizing: border-box;
}

.content {
  @extend %content;
  box-sizing: border-box;
}

.footer {
  @extend %footer;
  box-sizing: border-box;
}

.toasts {
  position: absolute;
  top: 0;
  right: 0;
}

.announcers {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
}
