// Timing variables
// These timing values are designed to snap together. 100+300=400. 300+400=700 etc.
$ca-duration-instant: 0ms;
$ca-duration-immediate: 100ms;
$ca-duration-fast: 300ms;
$ca-duration-slow: 400ms;
$ca-duration-deliberate: 700ms;

///////////////////////////////////////////////
// TIMING PRESETS                            //
///////////////////////////////////////////////
.ca-duration-instant {
  animation-duration: $ca-duration-instant !important;
  transition-duration: $ca-duration-instant !important;
}

.ca-duration-immediate {
  animation-duration: $ca-duration-immediate !important;
  transition-duration: $ca-duration-immediate !important;
}

.ca-duration-fast {
  animation-duration: $ca-duration-fast !important;
  transition-duration: $ca-duration-fast !important;
}

.ca-duration-slow {
  animation-duration: $ca-duration-slow !important;
  transition-duration: $ca-duration-slow !important;
}

.ca-duration-deliberate {
  animation-duration: $ca-duration-deliberate !important;
  transition-duration: $ca-duration-deliberate !important;
}
