@mixin ca-transition-fade($state: in, $duration: $ca-duration-slow, $delay: 0) {
  @include ca-fade($state, $duration: $duration, $delay: $delay);
}

@mixin ca-transition-slide-fade(
  $state: in,
  $duration: $ca-duration-slow,
  $delay: null
) {
  $direction: up;
  $timing: $ca-bounce-in;

  @if ($state == out) {
    $direction: down;
    $timing: $ca-bounce-out;
  }

  @include ca-slide(
    $direction: $direction,
    $fade: true,
    $timing: $timing,
    $duration: $duration,
    $delay: $delay
  );
}

@mixin ca-transition-scale-fade(
  $state: in,
  $duration: $ca-duration-slow,
  $delay: null
) {
  $timing: $ca-bounce-in;

  @if ($state == out) {
    $timing: $ca-bounce-out;
  }

  @include ca-zoom(
    $state,
    $timing: $timing,
    $duration: $duration,
    $delay: $delay
  );
}
