$instant: 0ms;
$immediate: 100ms;
$fast: 300ms;
$slow: 400ms;
$deliberate: 700ms;

///////////////////////////////////////////////
// TIMING PRESETS                            //
///////////////////////////////////////////////
.ca-duration-instant {
  animation-duration: $instant !important;
  transition-duration: $instant !important;
}

.ca-duration-immediate {
  animation-duration: $immediate !important;
  transition-duration: $immediate !important;
}

.ca-duration-fast {
  animation-duration: $fast !important;
  transition-duration: $fast !important;
}

.ca-duration-slow {
  animation-duration: $slow !important;
  transition-duration: $slow !important;
}

.ca-duration-deliberate {
  animation-duration: $deliberate !important;
  transition-duration: $deliberate !important;
}
