/// Creates a pulsing animation.
/// @return {Map} A keyframes map that can be used with the `generate-keyframes()` mixin.
@function pop() {
  $keyframes: ();

  $keyframes: (
    name: -mui-string-safe('pop'),
    0: (transform: scale3d(1, 1, 1), animation-timing-function: $ca-ease-in),
    50:
      (
        transform: scale3d(1.05, 1.05, 1.05),
        animation-timing-function: $ca-ease-in
      ),
    100: (transform: scale3d(1, 1, 1), animation-timing-function: $ca-ease-in)
  );

  @return $keyframes;
}

@function pulsate() {
  $keyframes: ();

  $keyframes: (
    name: -mui-string-safe('pulsate'),
    0: (transform: scale(1), opacity: 0.5),
    100: (transform: scale(4), opacity: 0)
  );

  @return $keyframes;
}
