@import '~cultureamp-style-guide/styles/color';
@import '~cultureamp-style-guide/styles/type';
@import '~cultureamp-style-guide/styles/animation';
@import 'checkerboard';

.root {
  position: relative;
}

.frame {
  background: $ca-palette-ink;
}

.canvas {
  @include checkerboard($ca-grid / 2, add-tint($ca-palette-ink, 95%), #fff);
  display: flex;
  align-items: start;
  justify-content: center;
  margin: 0 auto;
  min-height: $ca-grid * 3;
  padding: $ca-grid 0;
  transition: width $ca-duration-deliberate;
}

// Elm components are wrapped in an extra div
// We need to apply layout styles from the parent element to maintain centering of example
.elmComponentWrapper {
  width: 100%;

  > div {
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }
}

.gridOverlay {
  @include debug-vertical-rhythm-grid();
}

.darkBackground {
  @include checkerboard(
    $ca-grid / 2,
    add-tint($ca-palette-ocean, 30%),
    add-tint($ca-palette-ocean, 25%)
  );
}

.selectPreset {
  position: absolute;
  right: 0;
  top: 0;
  select {
    @include ca-type-ideal-body;
  }
}

.controls {
  position: relative;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  margin-bottom: $ca-grid;

  > * {
    @include ca-type-ideal-body;

    button {
      @include ca-type-ideal-button;
    }
  }
}

.renderOptions > *:not(:first-child) {
  margin-left: $ca-grid;
}

.p {
  margin: $ca-grid 0;
  @include ca-type-ideal-body;
}
