@import '../../styles/type';

.page-title,
h1.default-style {
  @include ca-type-ideal-page-title;
  margin-top: 0;
  margin-bottom: $ca-grid;
}

.title,
h2.default-style {
  @include ca-type-ideal-title;
  margin-top: 0;
  margin-bottom: $ca-grid;
}

.display,
h3.default-style {
  @include ca-type-ideal-display;
  margin-top: 0;
  margin-bottom: $ca-grid;
}

.heading,
h4.default-style,
h5.default-style,
h6.default-style {
  @include ca-type-ideal-heading;
  margin-top: 0;
  margin-bottom: $ca-grid;
}

.lede {
  @include ca-type-ideal-lede;
  margin-top: 0;
  margin-bottom: $ca-grid;
}

.paragraph,
p.default-style {
  @include ca-type-ideal-body;
  margin-top: 0;
  margin-bottom: $ca-grid;
}

.body,
.default-style {
  @include ca-type-ideal-body;
  margin: 0;
}

.body-bold {
  @include ca-type-ideal-body-bold;
  margin: 0;
}

.small {
  @include ca-type-ideal-small;
  margin: 0;
}

.small-bold {
  @include ca-type-ideal-small-bold;
  margin: 0;
}

.notification {
  @include ca-type-ideal-notification;
  margin: 0;
}

.label {
  @include ca-type-ideal-label;
  margin: 0;
}

.control-action {
  @include ca-type-ideal-control-action;
  margin: 0;
}

.button {
  @include ca-type-ideal-button;
  margin: 0;
}

// We double the class selector to increase specificity above rules like `h1.default-style`
.inheritBaseline.inheritBaseline {
  @include ca-inherit-baseline;
}

// Alias classes for Elm CSS modules
.defaultStyle {
  composes: default-style;
}
.pageTitle {
  composes: page-title;
}
.bodyBold {
  composes: body-bold;
}
.smallBold {
  composes: small-bold;
}
.controlAction {
  composes: control-action;
}
