@import '~cultureamp-style-guide/styles/color';
@import '~cultureamp-style-guide/styles/type';

$ca-navigation-bar__height: 2.5 * $ca-grid;

%ca-global-ia-navigation-bar {
  display: flex;
  flex-direction: row;

  background-color: $ca-palette-ink;

  height: $ca-navigation-bar__height;
  width: 100%;
  position: static;

  @media print {
    display: none;
  }
}
