@import 'styles';
@import '~cultureamp-style-guide/styles/color';
@import '~cultureamp-style-guide/styles/type';

.navigationBar {
  @extend %ca-global-ia-navigation-bar;

  &.kaizen {
    background: $ca-palette-wisteria;
  }
}

.links {
  flex: 1 0 0px;
  padding-left: 2 * $ca-grid;

  > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
  }
}

.child {
  display: flex;
  margin: $ca-grid / 4;
  height: 2 * $ca-grid;
  box-sizing: content-box;

  @include ca-type-ideal-heading;
  @include ca-inherit-baseline;

  top: 0;

  &::after {
    display: block;
    content: '';
    padding-bottom: 100%;
  }
  > * {
    // fill the square
    width: 100%;
    height: 100%;
  }
}

.square {
  width: 2 * $ca-grid;
  padding: 0;
}

.secondaryLink.first {
  margin-left: auto;
}

.otherChildren {
  display: flex;
  border-left: 1px solid add-tint($ca-palette-ink, 20%);
  margin-left: -1px;
}

