@import '~cultureamp-style-guide/styles/border';
@import '~cultureamp-style-guide/styles/type';

$nav-ease: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$nav-timing: 150ms;
$indicator-height: 3px;

.link {
  // fill parent
  display: flex;
  min-width: 2 * $ca-grid;
  height: 2 * $ca-grid;
  margin: $ca-grid / 4;

  // center child
  align-items: center;
  justify-content: center;

  border-radius: $ca-border-radius;

  composes: interactiveIconWrapper from 'cultureamp-style-guide/components/Icon/Icon.module.scss';

  color: add-tint($ca-palette-ink, 70%);
  padding: 0;

  // active indicator
  .linkText::before {
    content: '';
    display: block;
    transform: translateY(calc(-#{$ca-grid / 4} - 100%));
    height: $indicator-height;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: #fff;
    transition: transform $nav-ease $nav-timing;
  }

  &:hover,
  &:focus {
    color: #fff; // override hyperlink hover color
    outline: none; // override native focus styles
    text-decoration: none;

    .linkText::before {
      transform: translateY(#{-($ca-grid / 4)});
    }
  }

  @include ca-type-ideal-heading;
  @include ca-inherit-baseline;
  top: 0;

  &.secondary {
    @include ca-type-ideal-body;
    @include ca-inherit-baseline;

    padding: 0 $ca-grid / 2;
    margin-right: $ca-grid / 2;

    .linkText::before {
      display: none;
    }

    &:hover,
    &:focus {
      background-color: rgba(#fff, 0.1);

      svg {
        opacity: 0.7; // override default icon svg opacity
      }
    }

    &:active {
      background-color: rgba(#fff, 0.2);
      transform: translateY(1px);

      svg {
        opacity: 1; // override default Icon svg opacity
      }
    }
  }
}

.linkIcon {
  display: inline-flex;
  // override default icon hover behaviour
  pointer-events: none;
}

.linkIcon + .linkText {
  margin-left: $ca-grid / 4;
}

.linkText {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}

.containsText {
  padding: 0 $ca-grid;
}

.active {
    color: #fff; // override hyperlink hover color
    outline: none; // override native focus styles
    text-decoration: none;

    .linkText::before {
      transform: translateY(#{-($ca-grid / 4)});
    }
}
