@import '../../styles/color';
@import '../../styles/type';
@import '../../styles/border';

$caNotification-toast-fade-time: 0.5s;

// Structure

%ca-notification {
  display: flex;
  position: relative;

  a {
    color: $ca-link-text-color;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      color: $ca-link-hover-text-color;
      text-decoration: none;
    }
  }

  strong {
    font-weight: $ca-weight-semibold;
  }
}

%ca-notification__icon {
  align-items: flex-start;
  width: $ca-grid;
  height: $ca-grid;
  position: relative;
  margin-top: $ca-grid / 4;
}

%ca-notification__text-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 0 0;
  margin-left: $ca-grid / 2;
}

%ca-notification__title {
  @include ca-type-ideal-heading;
  display: block;
  padding-right: $ca-grid / 2;
}

%ca-notification__textWrapper {
  @include ca-type-block;
}

%ca-notification__text {
  display: block;
}

%ca-notification__cancel {
  color: add-tint($ca-palette-lapis, 40%);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &:hover {
    color: add-tint($ca-palette-lapis, 20%);
    cursor: pointer;
  }
}

%ca-notification__cancel__inner {
  $size: 20px;
  height: $size;
  width: $size;
  margin-right: 10px;
}

%ca-notification---fading {
  opacity: 0;
  transition: opacity $caNotification-toast-fade-time linear,
    transform ($caNotification-toast-fade-time * 0.8) ease-in;

  %ca-notification__cancel:hover {
    cursor: auto;
  }
}

// Notification Style

%ca-notification---normal,
%ca-notification---toast {
  $borderWidth: 1px;
  $verticalPadding: calc(#{$ca-grid / 4} - #{$borderWidth});
  $horizontalPadding: 20px;
  padding: $verticalPadding $horizontalPadding;

  margin-bottom: $ca-grid;
  border-width: $borderWidth;
  border-style: solid;
  border-radius: $ca-border-radius;

  %ca-notification__text {
    @include ca-type-ideal-notification;
    // When the title and text are on different lines this ensures the baselines are exactly 1 grid unit apart.
    // When they are both on a single line it ensures both are 1 grid unit tall.
    margin-top: $ca-grid / 4;
  }

  %ca-notification__cancel {
    width: $ca-grid * 2;
    height: $ca-grid * 2;
    // The negative margins are so that our clickable area will overlap the notification padding
    margin-right: -20px;
    margin-top: -$ca-grid / 4;
    margin-bottom: -$ca-grid / 4;
  }
}

%ca-notification---toast {
  width: 25rem;
  box-shadow: 0 3px 7px add-alpha($ca-palette-ink, 9%);
  transition: opacity $caNotification-toast-fade-time linear,
    transform ($caNotification-toast-fade-time * 0.8) ease-out;
  will-change: transform;

  &%ca-notification---fading {
    transform: translateX(50%);
  }
}

%ca-notification---global {
  padding: $ca-grid / 2 20px;
  width: 100%;
  border-width: 0;
  border-radius: 0;
  margin-bottom: 0;

  %ca-notification__text {
    @include ca-type-ideal-body;
  }

  %ca-notification__cancel {
    width: $ca-grid * 2.5;
    height: $ca-grid * 2.5;
    // The negative margins are so that our clickable area will overlap the notification padding
    margin-right: -20px;
    margin-top: -$ca-grid / 2;
    margin-bottom: -$ca-grid / 2;
  }
}

// Notification Type

%ca-notification---positive {
  background: add-tint($ca-palette-seedling, 90%);
  border-color: add-tint($ca-palette-seedling, 60%);
  color: $ca-palette-lapis;

  %ca-notification__icon {
    color: add-tint($ca-palette-seedling, 40%);
  }
}

%ca-notification---warning {
  background: add-tint($ca-palette-yuzu, 95%);
  border-color: add-tint($ca-palette-yuzu, 60%);
  color: $ca-palette-lapis;

  %ca-notification__icon {
    color: add-tint($ca-palette-yuzu, 20%);
  }
}

%ca-notification---negative {
  background: add-tint($ca-palette-coral, 95%);
  border-color: add-tint($ca-palette-coral, 60%);
  color: $ca-palette-lapis;

  %ca-notification__icon {
    color: add-tint($ca-palette-coral, 20%);
  }
}

%ca-notification---info {
  background: add-tint($ca-palette-ocean, 90%);
  border-color: add-tint($ca-palette-ocean, 60%);
  color: $ca-palette-lapis;

  %ca-notification__icon {
    color: add-tint($ca-palette-ocean, 30%);
  }
}
