@import '~cultureamp-style-guide/styles/color';
@import '~cultureamp-style-guide/styles/type';
@import '~cultureamp-style-guide/styles/border';
@import '~cultureamp-style-guide/styles/layers';
@import '~cultureamp-style-guide/styles/animation';
@import '../Button/styles';

$ca-notification-border-width: 1px;
$ca-notification-vertical-padding: calc(
  #{$ca-grid / 4} - #{$ca-notification-border-width}
);
$ca-notification-fade-out: opacity $ca-duration-slow ease;
$ca-notification-collapse-height: margin-top $ca-duration-slow ease;
$ca-notification-collapse-height-delayed: margin-top $ca-duration-fast
  $ca-duration-slow ease;
$ca-notification-slide-right: transform $ca-duration-slow ease-out;

// Structure

%ca-notification {
  display: flex;
  box-sizing: border-box;

  a {
    color: $ca-link-text-color;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      color: $ca-link-hover-text-color;
      text-decoration: none;
    }
  }

  strong {
    font-weight: $ca-weight-semibold;
  }
}

%ca-notification__icon {
  align-items: flex-start;
}

%ca-notification__text-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 0 0;
}

%ca-notification__title {
  @include ca-type-ideal-heading;
  display: block;
  padding-right: $ca-grid / 2;
}

%ca-notification__textWrapper {
  @include ca-type-block;
}

%ca-notification__text {
  display: block;
}

%ca-notification__cancel {
  @include button-reset;
  composes: interactiveIconWrapper from '../Icon/Icon.module.scss';
  color: $ca-palette-lapis;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  transform: none;

  &:active {
    transform: translateY(1px);
  }
}

%ca-notification__cancel__inner {
  $size: 20px;
  height: $size;
  width: $size;
  margin-right: 10px;
}

%ca-notification---hidden {
  opacity: 0;

  %ca-notification__cancel:hover {
    cursor: auto;
  }
}

// Notification Type

%ca-notification---affirmative {
  background: add-tint($ca-palette-seedling, 90%);
  border-color: add-tint($ca-palette-seedling, 60%);
  color: $ca-palette-lapis;

  %ca-notification__icon {
    color: add-tint($ca-palette-seedling, 40%);
  }
}

%ca-notification---informative {
  background: add-tint($ca-palette-ocean, 90%);
  border-color: add-tint($ca-palette-ocean, 60%);
  color: $ca-palette-lapis;

  %ca-notification__icon {
    color: add-tint($ca-palette-ocean, 30%);
  }
}

%ca-notification---warning {
  background: add-tint($ca-palette-yuzu, 95%);
  border-color: add-tint($ca-palette-yuzu, 60%);
  color: $ca-palette-lapis;

  %ca-notification__icon {
    color: add-tint($ca-palette-yuzu, 20%);
  }
}

%ca-notification---negative {
  background: add-tint($ca-palette-coral, 95%);
  border-color: add-tint($ca-palette-coral, 60%);
  color: $ca-palette-lapis;

  %ca-notification__icon {
    color: add-tint($ca-palette-coral, 20%);
  }
}

// Notification Style

%ca-notification---inline,
%ca-notification---toast {
  margin-bottom: $ca-grid;
  border-width: $ca-notification-border-width;
  border-style: solid;
  border-radius: $ca-border-radius;

  %ca-notification__icon {
    width: $ca-grid;
    height: $ca-grid;
    margin-top: $ca-grid / 4;
  }

  %ca-notification__text-container {
    margin-left: 10px;
  }

  %ca-notification__text {
    @include ca-type-ideal-notification;
    // When the title and text are on different lines this ensures the baselines are exactly 1 grid unit apart.
    // When they are both on a single line it ensures both are 1 grid unit tall.
    margin-top: $ca-grid / 4;
  }

  %ca-notification__cancel {
    width: $ca-grid * 2;
    height: $ca-grid * 2;
    // The negative margins are so that our clickable area will overlap the notification padding
    margin-top: -$ca-grid / 4;
    margin-bottom: -$ca-grid / 4;
  }
}

%ca-notification---inline {
  $horizontal-padding: 20px;
  width: 100%;
  padding: $ca-notification-vertical-padding $horizontal-padding;
  transition: $ca-notification-fade-out,
    $ca-notification-collapse-height-delayed;

  %ca-notification__textContainer {
    transition: $ca-notification-fade-out;
  }

  %ca-notification__cancel {
    // The negative margins are so that our clickable area will overlap the notification padding
    margin-right: -$horizontal-padding;
  }
}

%ca-notification---toast {
  $horizontal-padding: 10px;
  width: 25rem;
  box-shadow: 0 3px 7px add-alpha($ca-palette-ink, 9%);
  padding: $ca-notification-vertical-padding $horizontal-padding;
  transition: $ca-notification-fade-out, $ca-notification-slide-right,
    $ca-notification-collapse-height-delayed;
  will-change: transform;

  %ca-notification__cancel {
    // The negative margins are so that our clickable area will overlap the notification padding
    margin-right: -$horizontal-padding;
  }

  &%ca-notification---hidden {
    transition-timing-function: ease-in;
    transform: translateX(50%);
  }
}

%ca-notification---global {
  width: 100%;
  padding: $ca-grid / 2 15px;
  border-width: 0;
  border-radius: 0;
  margin-bottom: 0;
  transition: $ca-notification-collapse-height;
  position: relative;
  z-index: $ca-z-index-fixed;

  &%ca-notification---hidden {
    z-index: $ca-z-index-fixed - 1;
    opacity: 1;
  }

  %ca-notification__icon {
    width: $ca-grid * 1.25;
    height: $ca-grid * 1.25;
    margin-top: $ca-grid / 8;
    color: $ca-palette-lapis;
  }

  %ca-notification__text-container {
    margin-left: 14px;
  }

  %ca-notification__text {
    @include ca-type-ideal-body;
  }

  %ca-notification__cancel {
    width: $ca-grid * 2.5;
    height: $ca-grid * 2.5;
    // The negative margins are so that our clickable area will overlap the notification padding
    margin-right: -15px;
    margin-top: -$ca-grid / 2;
    margin-bottom: -$ca-grid / 2;
  }

  a,
  a:hover {
    color: $ca-palette-lapis;
  }

  &%ca-notification---affirmative {
    background-color: add-tint($ca-palette-seedling, 70%);
  }
  &%ca-notification---informative {
    background-color: add-tint($ca-palette-ocean, 70%);
  }
  &%ca-notification---warning {
    background-color: add-tint($ca-palette-yuzu, 70%);
  }
  &%ca-notification---negative {
    background-color: add-tint($ca-palette-coral, 50%);
  }
}
