@import 'type';

$ca-layout-max-width: 1416px;
$ca-layout-side-padding: 24px;
$ca-layout-content-width: 1080px;
$ca-layout-title-block-height: 5 * $ca-grid;
$ca-layout-sidebar-width: 10 * $ca-grid;

@mixin ca-margin($start: 0, $end: 0, $top: 0, $bottom: 0) {
  margin-top: $top;
  margin-bottom: $bottom;
  margin-right: $end;
  margin-left: $start;

  &[dir='rtl'],
  [dir='rtl'] & {
    margin-right: $start;
    margin-left: $end;
  }
}

@mixin ca-padding($start: 0, $end: 0, $top: 0, $bottom: 0) {
  padding-top: $top;
  padding-bottom: $bottom;
  padding-right: $end;
  padding-left: $start;

  &[dir='rtl'],
  [dir='rtl'] & {
    padding-right: $start;
    padding-left: $end;
  }
}

@mixin ca-position($start: auto, $end: auto, $top: auto, $bottom: auto) {
  top: $top;
  bottom: $bottom;
  right: $end;
  left: $start;

  &[dir='rtl'],
  [dir='rtl'] & {
    right: $start;
    left: $end;
  }
}
