@import 'type';

$ca-layout-max-width: 1400px;
$ca-layout-side-padding: 25px;
$ca-layout-content-width: 1080px;
$ca-layout-title-block-height: 5 * $ca-grid;
$ca-layout-sidebar-width: 12 * $ca-grid;

@mixin ca-margin-start($size: 0) {
  margin-left: $size;

  &[dir='rtl'],
  [dir='rtl'] & {
    margin-left: 0;
    margin-right: $size;
  }
}

@mixin ca-margin-end($size: 0) {
  margin-right: $size;

  &[dir='rtl'],
  [dir='rtl'] & {
    margin-right: 0;
    margin-left: $size;
  }
}

@mixin ca-padding-start($size: 0) {
  padding-left: $size;

  &[dir='rtl'],
  [dir='rtl'] & {
    padding-left: 0;
    padding-right: $size;
  }
}

@mixin ca-padding-end($size: 0) {
  padding-right: $size;

  &[dir='rtl'],
  [dir='rtl'] & {
    padding-right: 0;
    padding-left: $size;
  }
}

@mixin ca-position-start($size: 0) {
  left: $size;

  &[dir='rtl'],
  [dir='rtl'] & {
    left: auto;
    right: $size;
  }
}

@mixin ca-position-end($size: 0) {
  right: $size;

  &[dir='rtl'],
  [dir='rtl'] & {
    right: auto;
    left: $size;
  }
}
